.root {
  display: flex;
  width: 100px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border: none;
  background-color: var(--color-gray-500);
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
}

.root:hover {
  background-color: var(--color-gray-400);
}

.root:disabled {
  background-color: var(--color-gray-200);
  color: var(--color-white);
  cursor: auto;
}
