.root {
  width: 100%;
  max-width: 920px;
}

.title {
  margin-top: 32px;
  color: var(--color-gray-500);
  font-size: 2.4rem;
}

.contents {
  margin-top: 40px;
  color: var(--color-blue-600);
}

.category {
  margin: 20px 0 16px;
  font-size: 2rem;
}

.blogTitle {
  padding-left: 1em;
  font-size: 1.6rem;
  line-height: 3.5rem;
  text-indent: -0.1em;
}
