.root {
  max-width: 920px;
}

.header {
  margin-top: 40px;
}

.title {
  margin-bottom: 10px;
  color: var(--color-gray-500);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 46px;
}

.datetime {
  display: block;
  margin-bottom: 10px;
  color: var(--color-gray-200);
  font-size: 1.4rem;
}

.datetime > time {
  margin-left: 4px;
}

.thumbnail {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.toc {
  margin: 40px 0;
}

.blog h2 {
  padding: 16px 20px;
  margin: 28px 0 16px;
  background-color: var(--color-gray-500);
  color: var(--color-white);
  font-size: 2rem;
  line-height: 35px;
}

.blog h3 {
  padding: 8px 0;
  border-bottom: 0.5px solid var(--color-gray-200);
  margin: 12px 0;
  font-size: 18px;
}

.blog a {
  color: var(--color-blue-300);
}

.blog p {
  font-size: 16px;
  line-height: 30px;
  word-break: break-all;
}

.blog p > code {
  padding: 4px;
  background-color: var(--color-white-100);
}

.blog pre > code {
  margin: 8px 0;
  font-size: 16px;
  line-height: 24px;
}

.blog ul,
.blog ol {
  padding: 20px;
  margin: 8px 0;
  background-color: var(--color-white-100);
}

.blog ol > li {
  margin-left: 20px;
  font-size: 1.6rem;
  line-height: 36px;
  list-style: decimal;
}

.blog ul > li {
  padding-left: 1em;
  font-size: 16px;
  line-height: 36px;
  list-style: inside;
  text-indent: -1.4em;
}

.blog img {
  width: 100%;
  height: auto;
}
