.root {
  padding: 20px;
  background-color: var(--color-white-100);
}

.toc {
  font-size: 2rem;
}

.tocItem {
  padding-left: 1em;
  margin: 16px 0;
  font-size: 1.6rem;
  line-height: 21px;
  list-style: inside;
  text-indent: -1.4em;
  word-break: break-all;
}

.tocItem:last-child {
  margin-bottom: unset;
}

.indent {
  padding-left: 2.7em;
  text-indent: -1.4em;
}
