.root {
  margin-top: 32px;
  color: var(--color-gray-200);
}

.title {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.tag {
  margin-left: 12px;
}

.tag > span {
  font-size: 1.2rem;
}

.contents {
  margin-top: 12px;
}

.tagList {
  margin: 0 6px 8px 0;
}
