@import 'https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap';

:root {
  --color-black-100: #24292e;
  --color-gray-100: #c7cbd1;
  --color-gray-200: #9b9b9b;
  --color-gray-400: #566d86;
  --color-gray-500: #324860;
  --color-blue-300: #337ab7;
  --color-blue-500: #007ed6;
  --color-blue-600: #331cbf;
  --color-red-500: #ed4c33;
  --color-white: #fff;
  --color-white-100: #f7f7f7;
}
