.root {
  display: flex;
  align-items: center;
}

/* TODO: iconを中央にmarginじゃない方法で揃えたい */
.homeIcon {
  margin-bottom: 4px;
}

.label {
  margin-left: 4px;
  color: var(--color-gray-200);
  font-size: 1.2rem;
}

.label:not(:last-child) {
  cursor: pointer;
  white-space: nowrap;
}

.arrowRight {
  margin: 0 0 2px 2px;
}
