.root {
  margin-top: 32px;
  color: var(--color-gray-200);
}

.title {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.profile {
  margin-left: 12px;
}

.profile > span {
  font-size: 1.2rem;
}

.profileContent {
  display: flex;
  margin-top: 12px;
}

.profileText {
  margin-left: 16px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  white-space: nowrap;
}

.profileDetail {
  color: var(--color-blue-300);
}

.arrowIcon {
  vertical-align: text-bottom;
}
