.root {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-gray-100);
  background-color: var(--color-white);
  color: var(--color-gray-200);
  font-size: 1.6rem;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
}
