.root {
  display: flex;
  width: 100%;
  height: 104px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-500);
  color: var(--color-white);
  gap: 16px;
}

.privacy {
  font-size: 1.6rem;
}

.copyLight {
  font-size: 1.2rem;
}
