.root {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-500);
  color: var(--color-white);
  gap: 16px;
}

.privacy {
  font-size: 14px;
}

.copyLight {
  font-size: 10px;
}
