.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.tag {
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 4px;
  background-color: var(--color-gray-500);
  color: var(--color-white);
  cursor: pointer;
  line-height: 1.4rem;
}

.tag:hover {
  background-color: var(--color-gray-400);
}

.tag:last-child {
  margin-right: 0;
}
