.root {
  margin-bottom: 36px;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.title {
  margin: 8px 0;
  color: var(--color-gray-500);
  font-size: 2rem;
  line-height: 32px;
}

.date {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--color-gray-200);
  font-size: 1.6rem;
}

.date > img {
  margin-right: 4px;
}

.tagList {
  margin: 0 4px 4px 0;
}
