.thumbnail {
  width: 100%;
  height: auto;
}

.title {
  margin: 8px 0;
  color: var(--color-gray-500);
  font-size: 16px;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
}

.date {
  margin-right: 8px;
  color: var(--color-gray-200);
  font-size: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.tag {
  padding: 4px 8px;
  margin-right: 4px;
  background-color: var(--color-gray-500);
  border-radius: 4px;
  color: var(--color-white);
  line-height: 12px;
}

.tag:hover {
  background-color: var(--color-gray-400);
}

.tag:last-child {
  margin-right: 0;
}
