.root {
  margin-bottom: 36px;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.title {
  margin: 8px 0;
  color: var(--color-gray-500);
  font-size: 2rem;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
}

.date {
  margin-right: 8px;
  color: var(--color-gray-200);
  font-size: 1.4rem;
}
